<div>
    <div class="main">
        <h1 style="color: blue;">Weather Details</h1>

        <div class="div">
            <strong> City :- {{city}} <i class="fa fa-home" style="font-size:24px"></i>
            </strong>
            <!-- City :- {{city}} -->
        </div>
        <br>
        <div class="div">
             <strong style="color: skyblue;">Temperature</strong>
            <img src="assets/sun.png" alt="..." class="png">
             :-------> {{temp}}<sup>0C</sup>
        </div>
        <br>
        <div class="div">
            <strong style="color: skyblue;"> SnowFall </strong>
            <img src="assets/snow.png" alt="..." class="png">
           :-------> {{snowfall}}
        </div>
        <br>
        <div class="div">
            <strong style="color: skyblue;"> WindSpeed </strong>
            <img src="assets/pine.png" alt="..." class="png">
            :-------> {{windSpeed}}
        </div>
        <br>
        <div class="div">
            <strong style="color: skyblue;"> Description </strong>
            <img src="assets/rain.png" alt="..." class="png">
            :-------> {{description}}
        </div>
        <br>

    </div>
</div>
    
    <!-- <h1>ooooo</h1>
    
    <i class="fa-solid fa-cloud"></i>
    <i class="icofont-downloaded"></i>
    <i class="fa fa-home" style="font-size:24px">home</i>
    <i class='fas fa-cloud-showers-heavy' style='font-size:36px'>cloud</i>
    <i class="fa fa-car fa-3x"></i>
    <i class="fas fa-clock"></i>
    <i class="fa-solid fa-cloud">car</i>
    <i class='fas fa-cloud-rain' style='font-size:36px'>rain</i> -->

